Repository omar-hanafy/flutter_declarative_popups, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, test, ci, material, cupertino, core, dependencies

.github/labeler.yml:

# Configuration for PR labeler
# https://github.com/actions/labeler

# Add 'documentation' label to any change in docs or markdown files
documentation:
  - '**/*.md'
  - 'doc/**/*'

# Add 'example' label to any change in example folder
example:
  - 'example/**/*'

# Add 'test' label to any change in test files
test:
  - 'test/**/*'
  - '**/*_test.dart'

# Add 'ci' label to any change in GitHub Actions workflows
ci:
  - '.github/**/*'

# Add 'material' label to changes in material components
material:
  - 'lib/src/material/**/*'

# Add 'cupertino' label to changes in cupertino components
cupertino:
  - 'lib/src/cupertino/**/*'

# Add 'core' label to changes in core files
core:
  - 'lib/src/raw/**/*'
  - 'lib/src/utils/**/*'
  - 'lib/*.dart'

# Add 'dependencies' label to changes in pubspec
dependencies:
  - 'pubspec.yaml'
  - 'pubspec.lock'

Update ci.yml
  .github/workflows/ci.yml
Labels: ci

Update ci.yml
  .github/workflows/ci.yml
Labels: ci

Update ci.yml
  .github/workflows/ci.yml
Labels: ci

Create .codecov.yml
  .codecov.yml
Labels: none

added missing CupertinoDialogPage
  CHANGELOG.md
  README.md
  example/pubspec.lock
  lib/flutter_declarative_popups.dart
  lib/src/cupertino/cupertino_dialog_page.dart
  lib/src/cupertino/cupertino_sheet_page.dart
  lib/src/material/dialog_page.dart
  lib/src/material/modal_bottom_sheet_page.dart
  lib/src/raw/raw_dialog_page.dart
  lib/src/utils/extensions.dart
  pubspec.yaml
  test/basic_test.dart
  test/extensions_test.dart
Labels: documentation, example, test, material, cupertino, core, dependencies

ci: fix PR workflow permissions for label creation
  .github/workflows/pr.yml
Labels: ci

ci: add PR template and label creation script
  .github/pull_request_template.md
  scripts/create-labels.sh
Labels: documentation, ci

formatted files
  test/basic_test.dart
  test/extensions_test.dart
Labels: test

fix: use OIDC authentication for pub.dev publishing
  .github/workflows/publish.yml
Labels: ci

feat: add verification checks before publishing to pub.dev
  .github/workflows/publish.yml
Labels: ci

feat: enhance documentation and add go_router example
  CHANGELOG.md
  README.md
  example/.gitignore
  example/README.md
  example/lib/go_router/go_router_example.dart
  example/lib/go_router/routes.dart
  example/lib/main.dart
  example/lib/navigator_1/navigator_1_example.dart
  example/lib/navigator_2/app_router_delegate.dart
  example/lib/navigator_2/navigator_2_example.dart
  example/lib/navigator_2/route_information_parser.dart
  example/lib/shared/popup_demo_widget.dart
  example/lib/shared/result_display.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/test/widget_test.dart
  lib/src/cupertino/cupertino_sheet_page.dart
  lib/src/material/dialog_page.dart
  pubspec.yaml
Labels: documentation, example, test, material, cupertino, dependencies

Update main.dart
  example/lib/main.dart
Labels: example

chore: prepare 0.3.1 release
  .github/workflows/publish.yml
  .gitignore
  CHANGELOG.md
  README.md
  SETUP.md
  example/lib/navigator_2/app_router_delegate.dart
  example/pubspec.lock
  lib/src/cupertino/cupertino_dialog_page.dart
  lib/src/cupertino/cupertino_modal_popup_page.dart
  lib/src/cupertino/cupertino_sheet_page.dart
  lib/src/material/dialog_page.dart
  lib/src/material/modal_bottom_sheet_page.dart
  lib/src/raw/raw_dialog_page.dart
  pubspec.yaml
  scripts/release.sh
Labels: documentation, example, ci, material, cupertino, core, dependencies

fix: keep cupertino sheet compatible with flutter 3.32
  lib/src/cupertino/cupertino_sheet_page.dart
Labels: cupertino
